<ion-view view-title="Airtime/Data" hide-back-button="false" cache-view="false">
    <ion-content class="">


                <div class="list">

                    <a class="item item-icon-left" ui-sref="app.airtime_purchase">
                        <i class="icon ion-ios-briefcase-outline "></i>
                        Buy Airtime
                    </a>

                    <a class="item item-icon-left " ui-sref="app.data_purchase">
                        <i class="icon ion-ios-briefcase-outline "></i>
                        Buy Data
                    </a>

                </div>


    </ion-content>
</ion-view>