<ion-view view-title="Transactions" hide-back-button="false" cache-view="false">
    <ion-content class="">
        <div class="list">
            <a class="item" >
                <h2>27/09/2019 10:30am</h2>
                <p>Airtime purchase of N2,000 (Reference: 990448487464)</p>
            </a>
            <a class="item" >
                <h2>26/09/2019 10:30am</h2>
                <p>Airtime to power of N2,000 (Reference: 990448487464)</p>
            </a>
            <a class="item" >
                <h2>26/09/2019 10:30am</h2>
                <p>Data purchase of N2,000 (Reference: 990448487464)</p>
            </a>
            <a class="item" >
                <h2>25/09/2019 10:30am</h2>
                <p>Airtime purchase of N2,000 (Reference: 990448487464)</p>
            </a>
            <a class="item" >
                <h2>25/09/2019 10:30am</h2>
                <p>Airtime purchase of N2,000 (Reference: 6899685587464)</p>
            </a>
            <a class="item" >
                <h2>25/09/2019 10:30am</h2>
                <p>Airtime to wallet N2,000 (Reference: 44556648487464)</p>
            </a>
            <a class="item" >
                <h2>25/09/2019 10:30am</h2>
                <p>Airtime purchase of N2,000 (Reference: 990448487464)</p>
            </a>
            <a class="item" >
                <h2>25/09/2019 10:30am</h2>
                <p>Airtime purchase of N2,000 (Reference: 990448487464)</p>
            </a>
            <a class="item" >
                <h2>25/09/2019 10:30am</h2>
                <p>Airtime purchase of N2,000 (Reference: 990448487464)</p>
            </a>
            <a class="item" >
                <h2>25/09/2019 10:30am</h2>
                <p>Airtime purchase of N2,000 (Reference: 990448487464)</p>
            </a>
        </div>
    </ion-content>
</ion-view>