<ion-view view-title="Transaction" hide-back-button="true" cache-view="false">
    <ion-content class="padding" style="background: aliceblue">

        <div class="row responsive-sm  remvoeBP" >
            <div class="col">

                <div class="list">
                    <p class="center" ng-show="connectingOperator">Connecting to {{posts.bank}}...</p>
                    <p class="center balanced" ng-show="connectedOperator">Connected to: {{posts.bank}}</p>
                    <h4 class="center" ng-show="connectedOperatorData">Account Number: {{posts.account_number}}</h4>
                </div>

                <div class="list">
                    <p class="center" ng-show="connectingDisco">Processing transaction...</p>
                    <p class="center balanced" ng-show="connectedDisco">Transaction successful</p>
                     <h4 class="center assertive" ng-show="connectedDiscoData">{{posts.amount|currency:'N'}} has been sent to your bank account. </h4>
                </div>

            </div>

            <div class="loginButton" ng-show="connectedDiscoData">
                <a class="button button-block button-dark" nav-clear menu-close ui-sref="app.dashboard"> Perform another transaction </a>
            </div>

        </div>

    </ion-content>
</ion-view>